.gallery {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: visibility 0.4s ease, opacity 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gallery.popup_opened {
  visibility: visible;
  opacity: 1;
}

.gallery__container {
  position: relative;
}

@media screen and (max-width: 585px) {
  .gallery__container {
    width: 100%;
    min-width: auto;
    margin: 0 40px;
  }
}

.gallery__img {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 585px) {
  .gallery__img {
    margin: 0 auto 10px auto;
  }
}

.gallery__description {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.gallery__close-btn {
  position: absolute;
  top: -43px;
  right: -43px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.gallery__close-btn:hover {
  opacity: 0.6;
}

.gallery__close-btn::after,
.gallery__close-btn::before {
  display: block;
  content: '';
  height: 41px;
  width: 4px;
  background: #15ABD9;
}

.gallery__close-btn::after {
  transform: rotate(45deg) translate(-3px, 3px);
}

.gallery__close-btn::before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 585px) {
  .gallery__close-btn {
    top: -50px;
    right: 0;
  }
}

@media screen and (max-width: 416px) {
  .gallery__close-btn {
    top: -40px;
    right: -6px;
  }

  .gallery__close-btn::after,
  .gallery__close-btn::before {
    height: 26px;
    width: 3px;
  }
}
