@media screen and (max-width: 1140px) {
  .nav-primary {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .nav-primary {
    margin: 0 45px 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .nav-primary {
    margin: 0 84px 0 auto;
  }
}

.nav-primary__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.nav-primary__link {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #F6F6F6;
  transition: color 0.5s ease;
}

.nav-primary__link:hover {
  color: #15ABD9;
}
